*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../assets/background.png');
  background-size: cover;
  background-position: center;
}

.profile-box {
 padding: 40px 90px;
 color: #ffffff;
 font-size: 16px;
 font-style: Poppins, sans-serif;
 text-align: center;
 background-color: #FF574A;
 border-radius: 20px;
 position: relative;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: -20px -50px 20px -50px;
}

.menu-icon , .setting-icon {
  width: 20px;
}

.menu-icon:hover, .setting-icon:hover {
  cursor: pointer;
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}

.social-media img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}


@media screen and (max-width: 768px) {
  .profile-box {
    padding: 40px 50px;
  }

  .icons {
    margin: -20px -30px 20px -30px;
  }

  .social-media {
    margin-top: 10px;
  }
  
}


